* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
}
.mainContainer {
  margin-top: 5rem;
  width: 50rem;
  height: 50rem;
  background-color: blueviolet;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 40rem;
  height: 40rem;
  background-color: rgb(195, 215, 231);
  border: 1px solid black;
  border-radius: 2rem;
}

h1 {
  text-align: center;
  margin: 2rem;
  padding: 1rem;
  color: rgb(116, 68, 192);
  letter-spacing: 1rem;
}
h5 {
  text-align: center;
  margin: 3rem;
  font-size: 1.5rem;
}
.dice-container {
  padding: 3rem;
  display: grid;
  grid-template: auto auto / repeat(5, 5rem);
  gap: 2rem;
}
.die-face {
  width: 2rem;
  height: 2rem;
  border-radius: 0.5rem;
  background-color: rgb(102, 201, 201);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
  cursor: pointer;
  box-shadow: 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}

button {
  margin: 5rem;
  padding: 1rem;
  background-color: rgb(66, 66, 138);
  border: none;
  border-radius: 0.5rem;
  color: whitesmoke;
  cursor: pointer;
  position: relative;
  left: 12rem;
  bottom: 3rem;
  box-shadow: inset 5px 5px 10px -3px rgba(238, 230, 230, 0.7);
}

.rollCount {
  text-align: center;
  font-size: 1rem;
  color: purple;
}

button:focus {
  outline: none;
}

button:active {
  box-shadow: inset -5px -5px 10px -3px rgba(170, 168, 168, 0.7);
}
